############ Project specific rules ###############
# Project specific rules go here...

############ WordPress specific rules ###############

# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*
web/app/mu-plugins/*/
web/app/themes/*
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/languages
web/app/languages/*
web/app/languages/.gitkeep
web/app/cache/*
web/wp-config.php
web/index.php

# WordPress
web/wp
!web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# WP-CLI
wp-cli.local.yml

# Vibrant theme
!web/app/themes/vibrant-child
web/app/object-cache.php
web/app/vibrant-cache/*
web/app/themes/vibrant

# Vibrant CI-CD
!bin/*
!.gitlab-ci.yml

# Vibrant documentation
!README.md
!docs/*

################# Global rules ####################
## Never ignore .gitignore
!.gitignore

## Dependencies
node_modules
bower_components
vendor
.vagrant
*.swp
*.swo
/local.yml
/auth.json

## Sass
.sass-cache

## IDE project files
/.idea
.viminfo
/.buildpath
/.settings
/.project
/.cache
/build
/nbbuild
/nbdist
/nbproject/private

## OS specific files
.DS_Store
.DS_Store?
Thumbs.db
.log
.sass-cache/
.codekit-config.json
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*.swp

## Zipped files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Always Version .keep and .gitkeep files
!.keep
!.gitkeep

